.payment {
  background-color: white;
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 800;
  background-color: rgb(234, 237, 232);
  border-bottom: 1px solid lightgray;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0, 20px;
}

.payment__title {
  flex: 0.2;
}

.payment__adress,
.payment__items,
.payment__details {
  flex: 0.8;
}
