.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  align-items: center;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  justify-content: flex-end;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  z-index: 1;
  margin-bottom: 15px;
}

.product_info {
  height: 100px;
  margin-bottom: 10px;
}

.product_price {
  margin-top: 5px;
}

.product_rating {
  display: flex;
}

.product > button {
  background-color: #f8c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}

.product > button:hover {
  background-color: rgb(241, 241, 241);
}

@media (max-width: 500px) {
  .product {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    height: 170px;
    min-width: 230px;
    margin: 5px;
    padding: 10px;
    width: 100%;
    justify-content: flex-end;
    margin: 5px;
  }

  .product > img {
    max-height: 50px;
    width: 100%;
    object-fit: contain;
    z-index: 1;
    margin-bottom: 10px;
  }

  .product_info {
    height: 60px;
    margin-bottom: 5px;
  }

  .product_price {
    margin-top: 2px;
    font-size: 5px;
  }

  .product_rating {
    display: flex;
    font-size: 5px;
  }

  .product > button {
    background-color: #f8c14b;
    border: 1px solid;
    margin-top: 5px;
    border-color: #a88734 #9c7e31 #846a29;
    width: 50%;
    height: 10px;
  }

  .product > button:hover {
    background-color: rgb(241, 241, 241);
  }

  .product_title {
    font-size: 7px;
    font-weight: 600;
  }

  .button_text {
    font-size: 5px;
  }
}
